<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>EcompJr</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-xlarge.css" />
		</noscript>
	
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header">
				<h1><a href="../home.php"><img src="../masterPage/assets/img/ecompjr.png " width="120" height="40"></a></h1>
				<nav id="nav">
				</nav>
			</header>

			<section id="two" class="wrapper style2 special">
				<div class="container">
					<header class="major">
						<h2>Nossa Equipe</h2>
						<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, autem.</p>-->
					</header>
					<section class="profiles">
						<div class="row">
							<section class="3u 6u(medium) 12u$(xsmall) profile">
								<h2>Parceria</h2>
								<img class="center" src="images/profile_placeholder.gif" alt="" />
								<h4>Parceiro</h4>
								<p>Sobre o parceiro</p>
							</section>
						</div>
					</section>
					<section class="profiles">
						<h2>Diretores</h2>
						<div class="row">
							<section class="3u 6u$(medium) 12u$(xsmall) profile">
								<img src="images/profile_placeholder.gif" alt="" />
								<h4>Diretor 1</h4>
								<p>Nome</p>
							</section>
							<section class="3u 6u$(medium) 12u$(xsmall) profile">
								<img src="images/profile_placeholder.gif" alt="" />
								<h4>Diretor2</h4>
								<p>Nome</p>
							</section>
							<section class="3u 6u$(medium) 12u$(xsmall) profile">
								<img src="images/profile_placeholder.gif" alt="" />
								<h4>Diretor3</h4>
								<p>Nome</p>
							</section>
							<section class="3u 6u$(medium) 12u$(xsmall) profile">
								<img src="images/profile_placeholder.gif" alt="" />
								<h4>Diretor4</h4>
								<p>Nome</p>
							</section>

						</section>
					<section class="profiles">
						<h2>Membros</h2>
						<div class="row">
							<section class="3u 6u$(medium) 12u$(xsmall) profile">
								<img src="images/profile_placeholder.gif" alt="" />
								<h4>Membro1</h4>
								<p>Nome</p>
							</section>
							<section class="3u 6u$(medium) 12u$(xsmall) profile">
								<img src="images/profile_placeholder.gif" alt="" />
								<h4>Membro2</h4>
								<p>Nome</p>
							</section>
							<section class="3u 6u$(medium) 12u$(xsmall) profile">
								<img src="images/profile_placeholder.gif" alt="" />
								<h4>Membro3</h4>
								<p>Nome</p>
							</section>
							<section class="3u 6u$(medium) 12u$(xsmall) profile">
								<img src="images/profile_placeholder.gif" alt="" />
								<h4>Membro4</h4>
								<p>Nome</p>
							</section>
							<section class="3u 6u$(medium) 12u$(xsmall) profile">
								<img src="images/profile_placeholder.gif" alt="" />
								<h4>Membro5</h4>
								<p>Nome</p>
							</section>
							<section class="3u 6u$(medium) 12u$(xsmall) profile">
								<img src="images/profile_placeholder.gif" alt="" />
								<h4>Membro6</h4>
								<p>Nome</p>
							</section>
							<section class="3u 6u$(medium) 12u$(xsmall) profile">
								<img src="images/profile_placeholder.gif" alt="" />
								<h4>Membro7</h4>
								<p>Nome</p>
							</section>
							<section class="3u 6u$(medium) 12u$(xsmall) profile">
								<img src="images/profile_placeholder.gif" alt="" />
								<h4>Membro8</h4>
								<p>Nome</p>
							</section>
							
							</div>

							
	</body>
</html>